body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

nav {
    display: flex ;
    background: #1E656D;
    height: 8vh;
}


.logo { 
    display: flex;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.nav-link {
    color: #D9B44A;
    font-size: 18px;
}

.first_but {
    background: #506D2F;
    width: 5%;
    height: 63%;
    color: #F1F3CE;
    border-radius: 10px;
    margin-right: 1%;

}


.main_div {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    background: #75B1A9;
    width: 20%;
    height: 92vh;
    padding: 1% 0% 1% 0.3%;
    justify-content: space-between;

}

.menu-but {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1%;
    color: #1E656D;
    font-size: 22px;
    font-weight: 500;
    width: 90%;
    
}


.menu-but-link {
    text-decoration: none;

}

.top {
    display: flex;
    flex-direction: column;
    gap: 1%;
    height: 90%;

}



.authorization-link {
    display: flex;
    margin-left: 1%;
    color: #1E656D;
    font-size: 20px;

    
}





main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ACD0C0;
    width: 80%;
    height: 92vh;


}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.8%;
    margin-top: 0.5%;
    background: #E29930;
    width: 90%;
    height: 19%;
    border-radius: 15px;
    overflow: hidden;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    height: 90%;
    width: 9%;
}

.person-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.animal-name {
    padding: 0;
    margin: 0;
}

.animal-old {
    padding: 0;
    margin: 0;
}


.animal-details-but {
    width: 120%;
    font-size: 13px;
    padding: 0;
    background: #75B1A9;
    border-radius: 14px;
    border: none;
    color: #1a5b62;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
}


.animal-details-but:hover {
    background: #ACD0C0;
    transition: all 0.5s;
    transform: scale(1.08);
}

.animal-details-but:active {
    background: #ACD0C0;
    transform: scale(0.95);
}


.description {
    display: flex;
    width: 80%;
    font-size: 15px;
    margin-right: 1%;
}


.photo {
    display: flex;
    height: min-content;
    max-width: 100px; /* Наприклад, встановимо максимальну ширину 100px */
    max-height: 122px;
    flex-shrink: 0; /* Це запобігає стисканню фото в залежності від розміру article */
    border-radius: 15px;
}