body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

nav {
    display: flex ;
    background: #1E656D;
    height: 8vh;
}


.logo { 
    display: flex;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.nav-link {
    color: #D9B44A;
    font-size: 18px;
}

.first_but {
    background: #506D2F;
    width: 5%;
    height: 63%;
    color: #F1F3CE;
    border-radius: 10px;
    margin-right: 1%;

}


.main_div {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    background: #75B1A9;
    width: 20%;
    height: 92vh;
    padding: 1% 0% 1% 0.3%;
    justify-content: space-between;

}

.menu-link {
    display: flex;
    justify-content: flex-start;
    margin-left: 1%;
    color: #1E656D;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    
}

.authorization-link {
    display: flex;
    margin-left: 1%;
    color: #1E656D;
    font-size: 20px;

    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ACD0C0;
    width: 80%;
    height: 92vh;


}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.8%;
    margin-top: 0.5%;
    background: #E29930;
    width: 90%;
    height: 19%;
    border-radius: 15px;
    overflow: hidden;
}

.description {
    display: flex;
    font-size: 15px;
}


.photo {
    display: flex;
    height: min-content;
    max-width: 100px; /* Наприклад, встановимо максимальну ширину 100px */
    max-height: 122px;
    flex-shrink: 0; /* Це запобігає стисканню фото в залежності від розміру article */
    border-radius: 15px;
}