{% extends 'content/main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'content/css/all_animals1.css' %}">
{% endblock %}

{% block main %}


    {% for each in animal %}

    <article>
        <img class = 'photo' src="{{ each.photo.url }}" alt="">

        <section class = 'info'>
            <div class = 'person-info'>
                <p class = 'animal-name'>{{each.name}}</p>
                <p class = 'animal-old'>{{each.age}}</p>
            </div>
            <button class = 'animal-details-but'><a href="{{ each.get_absolute_url }}">Перейти</a></button>
        </section>

        
        <h1 class = 'description'>
            {{each.description}}
        </h1>
    </article>
        
    {% endfor %}


{% endblock %}